*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    border: 3px solid black;
    margin: 10px 10px;
    background-color: yellowgreen;
}

.counter{
    margin: auto;
    width: fit-content;
    
}

.playbutton button{
    width: 15rem;
    height: 40px;
    border: 3px solid black;
    border-radius: 8px;
    color: #fff;
    background: #000;
    margin-top: 10px;
}
.playbutton button:hover{
    background: blueviolet;
    cursor: pointer;
    transition: 1s ease-out;
}