*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    
    cursor: pointer;
    margin-top: 1rem;
    
    

}
.videoDetails{
color: rgb(150, 150, 150);
margin-top: 5px;

}
.tick{
    color: rgb(3, 179, 248);
    
}

